rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Enable new document creation for the Contacts form
    match /contacts/{contact} {
      allow create:
        // ensure no extra fields
        if request.resource.data.keys().size() == 3
        // ensure exactly these fields
        && request.resource.data.keys().hasAll(["name", "email", "createdAt"])
        // ensure types are correct
        && request.resource.data.name is string
        && request.resource.data.email is string
        && request.resource.data.createdAt is timestamp
        // reject special string that triggers errors
        && request.resource.data.name != "__reject_submission__";
    }

    match /invitations/{code} {
      allow read: if code != "__reject_request__";

      match /rsvps/{rsvp} {
        allow create:
          // ensure invitation code exists
          if exists(/databases/$(database)/documents/invitations/$(code))
          && request.resource.data.keys().size() == 3
          // ensure exactly these fields
          && request.resource.data.keys().hasAll(["attending", "guests", "createdAt"])
          && request.resource.data.attending is bool
          && request.resource.data.guests is list
          && request.resource.data.guests.size() > 0
          && request.resource.data.createdAt is timestamp;
      }
    }
  }
}
