@tailwind base;

@tailwind components;

.c-button {
  @apply px-4 py-2 bg-orange-900 text-white font-sans rounded-br-lg shadow-lg;

  &:focus {
    @apply outline-none shadow-outline-button;
  }
  &:hover {
    @apply bg-orange-800;
  }
  &:active {
    @apply bg-orange-700;
  }
  &:disabled {
    @apply opacity-50 cursor-wait;
  }
}

.c-input-invalid {
  @apply border-red-400 bg-no-repeat bg-right pr-2;
  background-image: inline("exclamation-outline.svg");
  background-size: 20px 20px;
  background-origin: content-box;
}

.c-alert {
  @apply px-3 py-2 bg-red-100 border border-l-4 border-red-500 text-red-800 shadow-md;

  & a {
    @apply underline font-bold;
  }
}

.c-full-height {
  @apply max-h-full;
}

.save-the-date-banner {
  max-height: 24rem;

  @screen lg {
    @extend .c-full-height;
  }
}

@tailwind utilities;
