@import "@reach/dialog/styles.css";

:root {
  --image-modal-y-padding: 2vh;
  --modal-translucent-bg: rgb(26, 32, 44, 0.75);
}

.grid-wrapper {
  & > div:focus {
    @apply outline-none shadow-outline-bold;
  }
}

.image {
  @apply h-full;
  max-height: 24rem;

  @screen sm {
    min-width: 16rem;
  }
}

.modal-caption {
  @apply text-gray-100 absolute inset-x-0 bottom-0 px-2 py-3 font-sans text-center text-gray-100 text-sm;
  background-color: var(--modal-translucent-bg);
}

.close-button-wrapper {
  @apply absolute top-0 right-0 text-white z-10 m-2;

  & > button {
    @apply p-2;
    background-color: var(--modal-translucent-bg);

    &:hover {
      @apply text-orange-500;
    }

    &:focus {
      @apply outline-none shadow-outline-light;
    }
  }
}

[data-reach-dialog-content] {
  @apply max-w-3xl w-full p-0 bg-black;
  height: calc(100vh - 2 * var(--image-modal-y-padding));
  margin: var(--image-modal-y-padding) auto;
}
