@tailwind base;

@tailwind components;

/* Reusable components */

.c-button {
  @apply text-sm font-sans;

  &:disabled {
    @apply opacity-50 cursor-wait;
  }
}

.c-button-primary,
.c-button-secondary {
  @apply rounded-br-lg;

  &:focus {
    @apply outline-none shadow-outline-bold;
  }
  &:hover {
    @apply bg-orange-800;
  }
  &:active {
    @apply bg-orange-700;
  }
}

.c-button-primary {
  @apply bg-orange-900 text-white;
}

.c-button-secondary {
  @apply border border-orange-900 text-orange-900;

  &:hover,
  &:active {
    @apply text-white;
  }
}

.c-button-tertiary {
  @apply border border-gray-800 text-gray-800 rounded-lg;

  &:focus {
    @apply outline-none shadow-outline-light;
  }
  &:hover {
    @apply bg-gray-800 text-white;
  }
  &:active {
    @apply bg-gray-700;
  }
}

.c-button-comfortable {
  @apply px-3 py-2;
}

.c-button-compact {
  @apply px-3 py-1;
}

.c-svg-button {
  @apply flex items-center;

  & > svg {
    @apply w-3 mr-2 fill-current;
  }
}

.c-invalid-outline {
  @apply border-red-400;
}

.c-input-invalid {
  @extend .c-invalid-outline;
  @apply bg-no-repeat bg-right pr-2;
  background-image: inline("exclamation-outline.svg");
  background-size: 20px 20px;
  background-origin: content-box;
}

.c-subtle-border {
  @apply border-gray-400;
}

.c-alert {
  @apply inline-block px-3 py-2 bg-red-100 border border-l-4 border-red-400 text-red-800 font-sans text-sm shadow-md;

  & > a,
  & > button {
    @apply font-bold;
  }

  & > a:hover,
  & > button:hover {
    @apply underline;
  }
}

.c-full-area {
  @apply absolute w-full h-full top-0 left-0 bg-no-repeat bg-contain;
}

.c-page-heading {
  @apply text-3xl font-sans font-bold mb-4;

  @screen sm {
    @apply text-4xl;
  }
}

.c-form-section-heading {
  @apply font-display mb-1 text-xl;
}

.c-form-section-description {
  @apply font-serif mb-6 text-gray-800;
}

.c-body-text {
  @apply font-serif text-lg mb-4;

  & > a {
    @apply border-b border-gray-800 border-dotted font-semibold;

    &:hover {
      @apply bg-orange-200;
    }
  }
}

.c-article {
  & > h1 {
    @apply text-2xl font-sans mb-2;

    @screen sm {
      @apply text-3xl;
    }
  }

  & > h2 {
    @apply font-sans text-xl mb-2 font-semibold;
  }

  & > p {
    @extend .c-body-text;
  }
}

.c-flippable {
  @extend .c-full-area;

  /* So that the faces of the flippable div are independent */
  transform-style: preserve-3d;

  & > .front,
  & > .back {
    @apply absolute w-full h-full bg-no-repeat bg-contain;

    /* So that the opposite side isn't visible during flipping */
    backface-visibility: hidden;
  }

  & > .back {
    /* Reverse back so that reverse looks correct */
    transform: rotateY(180deg);
  }
}

/* Specific UI elements */

.full-screen-hero {
  max-height: 24rem;

  @screen lg {
    @apply max-h-full;
  }
}

.hero {
  max-height: 24rem;
}

.envelope-wrapper-dimensions {
  @apply w-full max-w-xl px-4;

  padding-top: 35%;
  padding-bottom: 35%;

  @screen sm {
    padding-top: 14rem;
    padding-bottom: 14rem;
  }
}

.envelope-dimensions {
  @apply relative w-full;

  /* Aspect ratio = 1.4 */
  padding: 35.71% 50%;
}

.letter-dimensions {
  @apply absolute;

  /* Letter size as percentage of envelope size */
  --letter-fraction: 96%;

  width: var(--letter-fraction);
  height: var(--letter-fraction);
  top: calc((100% - var(--letter-fraction)) / 2);
  left: calc((100% - var(--letter-fraction)) / 2);
}

@tailwind utilities;
