:root {
  /* Letter size as percentage of envelope size */
  --letter-fraction: 96%;

  /* Envelope aspect ratio */
  --aspect-ratio: 1.4;
}

.flippable {
  @apply absolute w-full h-full top-0 left-0 bg-no-repeat bg-contain;

  /* So that the faces of the flippable div are independent */
  transform-style: preserve-3d;
}

.front,
.back {
  @apply absolute w-full h-full bg-no-repeat bg-contain;

  /* So that the opposite side isn't visible during flipping */
  backface-visibility: hidden;
}

.back {
  /* Reverse back so that reverse looks correct */
  transform: rotateY(180deg);
}

.back_base {
  background-image: url("../../images/invitation/back-base.png");
}

.back_flap {
  background-image: url("../../images/invitation/back-flap.png");
}

.back_bottom_flaps {
  background-image: url("../../images/invitation/back-bottom-flaps.png");
}

.front_base {
  background-image: url("../../images/invitation/front-base.png");
}

.front_flap {
  background-image: url("../../images/invitation/front-flap.png");
}

/* Allows sizing of the entire animation to the height of the viewport. */
.outer_wrapper {
  @apply mx-4;

  /*
   * Aspect ratio is w = 1.4h, so we size the envelope wrapper to be 1/1.4,
   * with vertical margin of 5vh top and bottom and extra margin at bottom.
   */
  width: calc(90vh * (1 / var(--aspect-ratio)));
  margin-bottom: 5vh;
}

/* Accounts for space used by letter when letter is open. */
.wrapper {
  @apply w-full;
  /*
   * - When letter is rotated 90 degrees, the original width now becomes the height.
   *
   * - We then scale by a factor of 1.4, so that the "new" width (of the rotated short edge)
   *   would take up as much space as the old width (since the aspect ratio is 1.4).
   *
   * - This means the height of the rotated letter is now
   * -   h' = 1.4 * w
   *
   * - Aspect ratio of envelope is w = 1.4h. Which means h = w / 1.4
   * - Difference between new height and old height is
   *     h' - h = (100% * 1.4 - 1 / 1.4) * w
   *
   * - To make up for this difference in height, we add padding of the amount
   *     p = (h' - h) / 2 * w
   *       = (100% * 1.4 - 1 / 1.4) / 2
   *       = 31.42%
   */
  padding: calc(50% * (var(--aspect-ratio) - 1 / var(--aspect-ratio))) 0;
}

.envelope {
  @apply relative w-full;

  /* Aspect ratio = 1.4 */
  padding: calc(50% / var(--aspect-ratio)) 50%;
}

.letter {
  @apply absolute;

  width: var(--letter-fraction);
  height: var(--letter-fraction);
  top: calc((100% - var(--letter-fraction)) / 2);
  left: calc((100% - var(--letter-fraction)) / 2);
}

.page_bg {
  @apply text-primary overflow-hidden bg-background bg-hero-pattern dark:bg-background-night dark:bg-hero-pattern-night dark:text-primary-night print:bg-transparent print:bg-none print:content-[url('../../images/invitation/invitation-print.jpg')] print:overflow-visible;
}
