:root {
  --hero-width: 60vw;
}

.main {
  @screen md {
    margin-right: var(--hero-width);
  }
}

.hero-wrapper {
  @screen md {
    @apply fixed top-0 right-0;
    width: var(--hero-width);
  }
}

.hero {
  max-height: 20rem;

  @screen md {
    @apply max-h-full h-screen;
  }
}
